Source: wasta-gnome-bionic
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-gnome-bionic

Package: wasta-gnome-bionic
Architecture: all
Depends: gnome-shell, nautilus, gnome-shell-extension-appindicator, gnome-shell-extension-ubuntu-dock, wasta-backgrounds, wasta-core-bionic, wasta-multidesktop-bionic, wasta-papirus, ${misc:Depends}
Recommends: bookletimposer, wasta-vertex-ubuntu
Description: Wasta-Linux GNOME for Ubuntu 18.04 Bionic
 Wasta-Linux 18.04 Bionic GNOME core adjustments.
